.projects-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 250px;
}
.projects-title{
font-size: 50px;
}
.projects-card-ctr {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 33%;
  justify-content: center;

}