@import '../../base.scss';

.info-ctr{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $info-bg;
  color: $font-color;
}

.info-text{
  padding: 300px;
  font-size: 2.5em;
  line-height: 2;
  letter-spacing: .03em;
}
// @media screen and (max-device-width: 375px) {
//  .info-text {
//    padding: auto;
//    font-size: 2.8em;
//    line-height: 1;
//    letter-spacing: 0em;
//  }
// }
@media screen and
(max-device-width : 500px){
 .info-text{
   padding: 5px;
 }
}
