.pcard-ctr{
  // flex-basis:33%;
  position: relative;
}
.project-img{
    display: block;
  height: 300px;
  width: 400px;
  padding: 50px ;
  margin: 0 auto;
  // border-radius: 20px;
}
.overlay {
  position: absolute;
  top: 50px;
  // bottom: 0;
  left: 50px;
  // right: 0;
  height: 75%;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  // border-radius: 5px;
  background-color: #008CBA;
}
.pcard-ctr:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}