@import'..//../base.scss';
.pcard-ctr{
  // flex-basis:33%;
  position: relative;
}
.project-img{
    display: block;
  height: 300px;
  width: 400px;
  padding: 50px ;
  margin: 0 auto;
  // border-radius: 20px;
}
.overlay {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 75%;
  width: 80%;
  // opacity: 0;
  transition: .5s ease;
  background-color: $hover-projects-bg;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay:hover {
  opacity: 1;
}
.text {
  color: $text-color-white;
  position: relative ;
  top: 0%;
  left: 0%;
  text-align: center;
  margin: 10px;
}
.title{
  font-size: 25px;
}
.desc{
  font-size: 20px;

}
.pcard-bttn{
  height:50px;
  border-radius: 20px;
  margin-top:10px;
}
.pcard-bttn:hover {
  background-color: $info-bg;
    color: $hover-projects-bg;

  
}