@import'..//../base.scss';
.skill-wrapper{
     width: 100%;
     background-color: $skill-bg;
}
.skill-ctr {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
     margin: 0px 250px;
}
.skills-title{
font-size: 50px;
margin:50px;
}
.skill-card-ctr {
     display: flex;
     flex-wrap: wrap;
     flex-basis: 33%;
     align-content: center;
     justify-content: center;
     align-items: center;
}