@import'..//../base.scss';

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

.form-ctr {
  // border:1px #000000 solid;
  // border-radius: 2px;
}

.contact-title {
  font-size: 50px;
  margin: 50px;
  margin: 20px;
}

.contact-text {
  font-size: 25px;
  margin: 10px 0 25px 0;
  margin: 20px;
}

.form-label {
  font-size: 20px;
  
}

.form-name {
  height: 50px;
  width: 600px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  outline: none;
  border: 1px $skill-bg solid;
  filter: drop-shadow(10px 5px 4px$skill-bg);
  margin: 20px;
}

.form-body {
  height: 200px;
  width: 600px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  outline: none;
  border: 1px $skill-bg solid;
  filter: drop-shadow(10px 5px 4px$skill-bg);
  margin: 20px;
}

.form-submit {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  filter: drop-shadow(10px 5px 4px$skill-bg);
  margin: 20px;
  font-size: 20px;

  // outline: none;
}