@import "../../base.scss";

.header-ctr{
  display: flex;
  justify-content: space-between;
  height: 150px;
}
.header-left{
  margin-left: 5em;
}
.header-right{
  color:$header-links;
  display: flex;
  align-items: center;
  margin-right: 5em;
}

.header-logo{
  height:100%
}
.header-link{
  font-size:20px;
  padding:10px;
  text-decoration: none;
}
.dropbtn {
  background-color: $app-bg;
  color: $header-links;
  font-family: 'Prata',
  serif;
;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $hover-dd-bg;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $hover-dd-links;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $hover-dd-bg;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: $hover-projects-bg;
  color:#f1f1f1;
}