@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f3f3f0;
  color: #524e4b;
  font-family: "Montserrat", sans-serif;
}

input {
  padding: 0;
  margin: 0;
}

.header {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.header__logo {
  margin-left: 3.125rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 8.75rem;
}

.header__logo-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.header__logo-text {
  color: #524e4b;
  font-size: 5.25rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 1.875rem;
  font-weight: 900;
}

.header__link {
  font-size: 1.5625rem;
  font-weight: 300;
  color: #524e4b;
}

.header__link:hover {
  color: #944dff;
}

.header__link-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  margin-right: 6.25rem;
  width: 15%;
  align-items: center;
}

.header__dropdown-btn {
  background-color: #f3f3f0;
  color: #090C9B;
  font-family: "Oswald", sans-serif;
  border: none;
}

.header__dropdown {
  position: relative;
  display: inline-block;
}

.header__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header__dropdown-content a {
  color: #524e4b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header__dropdown-content a:hover {
  background-color: #524e4b;
  color: #944dff;
}

.header__dropdown:hover .header__dropdown-content {
  display: block;
}

.header__dropdown:hover .header__link {
  color: #944dff;
}

.hero {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: 1.25rem 0;
  color: #524e4b;
  height: 50rem;
}

.hero__image-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

.hero__image-ctr img {
  margin-left: 6.25rem;
  height: 37.5rem;
}

.hero__text-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: space-evenly;
  -moz-box-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  flex: 50%;
}

.hero__bullet-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  animation: slideInFromRight 1s ease-out;
  margin-top: -2.5rem;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(50);
  }
  100% {
    transform: translateX(0);
  }
}

.hero__bullets {
  font-size: 4.375rem;
  font-family: "Source Code Pro", monospace;
  margin: 1.25rem 0;
}

.hero__text {
  animation: slideInFromBottom 1s ease-out;
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  margin-top: -6.25rem;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(300%);
  }
  50% {
    transform: translate5(150);
  }
  100% {
    transform: translateY(0);
  }
}

.info {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 56.25rem;
  align-items: center;
  line-height: 1.5;
}

.info img {
  animation: slideInFromLeft 1s ease-out;
  height: 37.5rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-50);
  }
  100% {
    transform: translateX(0);
  }
}

.info__text-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  flex: 50%;
  height: 100%;
  margin-left: 6.25rem;
}

.info__title {
  color: #944dff;
  font-weight: 900;
  font-size: 1.0625rem;
  margin-bottom: 20px;
  letter-spacing: 0.1875rem;
}

.info__heading {
  font-size: 3.125rem;
  font-weight: 900;
  margin-left: 20px;
}

.info__text {
  font-weight: 700;
  margin-top: 1.875rem;
  margin-left: 20px;
  margin-right: 50px;
}

.skills {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-bottom: 9.375rem;
  height: 56.25rem;
}

.skills img {
  height: 12.5rem;
}

.skills__title-ctr {
  flex: 50%;
  margin-left: 12.5rem;
}

.skills__title-ctr li {
  font-size: 2.5rem;
  font-weight: 700;
  color: #944dff;
  padding: 20px;
}

.skills__title {
  color: #944dff;
  font-weight: 900;
  font-size: 1.0625rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.1875rem;
}

.skills__subtitle {
  font-weight: 900;
  font-size: 3.125rem;
  margin-bottom: 25px;
  margin-left: 20px;
}

.skills__card-ctr {
  flex: 50%;
}

.contact {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  height: 56.25rem;
}

.contact__text-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: flex-end;
  flex: 50%;
}

.contact__text-wrapper {
  padding-left: 12.5rem;
}

.contact__title {
  color: #944dff;
  font-weight: 900;
  font-size: 1.0625rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.1875rem;
}

.contact .form {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  background-color: #524e4b;
  color: #944dff;
  flex: 50%;
  height: 31.25rem;
  margin-top: 12.5rem;
}

.contact .form__text {
  font-size: 1.5625rem;
  padding: 1.25rem 20px;
}

.contact .form__label {
  margin: 1.25rem;
  font-size: 1.25rem;
}

.contact .form__name {
  width: 31.25rem;
  height: 3.125rem;
}

.contact .form__body {
  width: 31.25rem;
  height: 12.5rem;
}

.contact .form__submit {
  width: 9.375rem;
  height: 3.125rem;
  margin-top: 1.875rem;
  border: none;
  background-color: #944dff;
  color: #524e4b;
  border-radius: 10px;
}

.projects {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  line-height: 1.5;
}

.projects__intro {
  width: 40.625rem;
  align-self: center;
  padding-right: 2rem;
}

.projects__title {
  color: #944dff;
  font-weight: 900;
  font-size: 1.0625rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.1875rem;
}

.projects__subtitle {
  font-weight: 900;
  font-size: 3.125rem;
  margin-bottom: 25px;
  margin-left: 20px;
}

.projects__info {
  margin-left: 20px;
}

.projects .left {
  justify-self: end;
  margin-right: 25px;
  margin-top: -400px;
}

.projects .right {
  justify-self: start;
  margin-left: 25px;
  margin-top: 75px;
}

.project {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: #524e4b;
  width: 40.625rem;
  padding: 2.5rem;
  align-items: center;
  margin: 0.625rem;
}

.project img {
  height: 26.25rem;
  width: 37.5rem;
}

.project__tech {
  color: #944dff;
  margin: 1.25rem 0;
  font-weight: 900;
}

.project__name {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}

.project__desc {
  color: white;
  font-size: 1.5625rem;
  margin-bottom: 1.25rem;
}

.project__link {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  color: #524e4b;
  font-size: 1.25rem;
  font-weight: 900;
  background-color: #944dff;
  width: 6.25rem;
  height: 1.875rem;
  border-radius: 1.25rem;
}
/*# sourceMappingURL=main.css.map */