@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #f3f3f0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0;
  margin: 0;
}

.dark {
  background-color: #524e4b;
  animation: dark-change .75s ease-in;
  color: #f3f3f0;
}

.light {
  background-color: #f3f3f0;
  animation: light-change .75s ease-in;
  color: #524e4b;
}

@keyframes dark-change {
  0% {
    background-color: #f3f3f0;
    color: #524e4b;
  }
  100% {
    background-color: #524e4b;
    color: #f3f3f0;
  }
}

@keyframes light-change {
  0% {
    background-color: #524e4b;
    color: #f3f3f0;
  }
  100% {
    background-color: #f3f3f0;
    color: #524e4b;
  }
}

.slideInFromRight {
  animation: slideInFromRight 1s ease-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(50);
  }
  100% {
    transform: translateX(0);
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-50);
  }
  100% {
    transform: translateX(0);
  }
}

.slideInFromBottom {
  animation: slideInFromBottom 1s ease-out;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(300%);
  }
  50% {
    transform: translate5(150);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.header__logo {
  margin-left: 3.125rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 7.5rem;
}

.header__logo-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.header__logo-text {
  color: #524e4b;
  font-size: 4.6875rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 1.875rem;
  font-weight: 900;
}

.header__link {
  font-size: 1.5625rem;
  font-weight: 300;
  color: #524e4b;
}

.header__link:hover {
  color: #944dff;
}

.header__link-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  margin-right: 6.25rem;
  width: 15%;
  align-items: center;
}

.header__dropdown-btn {
  color: #090C9B;
  font-family: "Oswald", sans-serif;
  border: none;
}

.header__dropdown {
  position: relative;
  display: inline-block;
}

.header__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header__dropdown-content a {
  color: #524e4b;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.header__dropdown-content a:hover {
  background-color: #524e4b;
  color: #944dff;
}

.header__dropdown:hover .header__dropdown-content {
  display: block;
}

.header__dropdown:hover .header__link {
  color: #944dff;
}

@media only screen and (max-width: 1023px) {
  .header__dropdown {
    margin: 2.5rem;
  }
}

.hero {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: 1.25rem 0;
  color: #524e4b;
  margin-bottom: 7.8125rem;
}

.hero__wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

.hero__image-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  position: relative;
}

.hero__image-ctr img {
  height: 34.375rem;
  width: 34.375rem;
  object-fit: cover;
}

.hero__image-ctr::before, .hero__image-ctr::after {
  background-image: linear-gradient(-180deg, #5F0CDB 0%, #524e4b 97%);
  content: '';
  position: absolute;
  transition: all .2s;
  transition-delay: .2s;
  transform: translateY(0px) translateX(0px);
  width: 34.375rem;
  height: 34.375rem;
  z-index: -1;
}

.hero__image-ctr::after {
  background-image: linear-gradient(0deg, #524e4b 0%, #07CFCF 97%);
}

.hero__image-ctr:hover::before {
  animation: slick-hover-2 3s .4s linear infinite;
  transform: translateY(-1.25rem) translateX(-1.25rem);
}

.hero__image-ctr:hover::after {
  animation: slick-hover 3s .4s linear infinite reverse;
  transform: translateY(1.25rem) translateX(1.25rem);
}

.hero__text-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: space-evenly;
  -moz-box-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  flex: 50%;
  margin-left: 6.25rem;
}

.hero__bullet-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin-top: -2.5rem;
}

.hero__bullets {
  font-size: 3.75rem;
  font-family: "Source Code Pro", monospace;
  margin: 1.25rem 0;
}

.hero__text {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  margin-top: 6.25rem;
}

@media only screen and (max-width: 1024px) {
  .hero {
    height: 31.25rem;
  }
  .hero__image-ctr {
    margin: 0;
  }
  .hero__image-ctr::before, .hero__image-ctr::after {
    transition: none;
    display: none;
  }
  .hero__image-ctr img {
    height: 18.75rem;
    width: 18.75rem;
  }
  .hero__text-ctr {
    margin: 0;
  }
  .hero__bullets {
    font-size: 3.125rem;
  }
  .hero__text {
    font-size: 2.1875rem;
  }
}

@keyframes slick-hover {
  0% {
    transform: translateY(1.25rem) translateX(1.25rem);
  }
  16% {
    transform: translateY(0.8125rem) translateX(-0.5625rem);
  }
  33% {
    transform: translateY(0.25rem) translateX(0.75rem);
  }
  50% {
    transform: translateY(1.25rem) translateX(-1.25rem);
  }
  66% {
    transform: translateY(-0.1875rem) translateX(0.5rem);
  }
  83% {
    transform: translateY(-0.9375rem) translateX(-0.6875rem);
  }
  100% {
    transform: translateY(1.25rem) translateX(1.25rem);
  }
}

@keyframes slick-hover-2 {
  0% {
    transform: translateY(-1.25rem) translateX(-1.25rem);
  }
  16% {
    transform: translateY(0.1875rem) translateX(-0.3125rem);
  }
  33% {
    transform: translateY(1.125rem) translateX(-0.625rem);
  }
  50% {
    transform: translateY(-1.25rem) translateX(1.25rem);
  }
  66% {
    transform: translateY(0.9375rem) translateX(-0.25rem);
  }
  83% {
    transform: translateY(-0.0625rem) translateX(0.9375rem);
  }
  100% {
    transform: translateY(-1.25rem) translateX(-1.25rem);
  }
}

.info {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  margin-bottom: 12.5rem;
}

.info img {
  width: 50%;
}

.info__text-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  flex: 50%;
  height: 100%;
  margin-left: 6.25rem;
}

.info__title {
  color: #944dff;
  font-weight: 900;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.1875rem;
}

.info__heading {
  font-size: 3.125rem;
  font-weight: 900;
  margin-left: 1.25rem;
}

.info__text {
  font-weight: 700;
  margin-top: 1.875rem;
  margin-left: 1.25rem;
  margin-right: 3.125rem;
}

@media only screen and (max-width: 1024px) {
  .info {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    flex-direction: column;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .info__title {
    margin-top: 0.9375rem;
  }
  .info__heading {
    margin-left: 1.25rem;
  }
  .info__text {
    margin-left: 1.25rem;
    margin-right: 6.25rem;
  }
}

.skills {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-bottom: 12.5rem;
}

.skills img {
  height: 12.5rem;
}

.skills__title-ctr {
  flex: 50%;
  padding-right: 12.5rem;
  align-self: center;
}

.skills__title-ctr li {
  font-size: 2.5rem;
  font-weight: 700;
  color: #944dff;
  padding: 1.25rem;
}

.skills__title {
  color: #944dff;
  font-weight: 900;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.1875rem;
}

.skills__subtitle {
  font-weight: 900;
  font-size: 3.125rem;
  margin-bottom: 1.5625rem;
  margin-left: 1.25rem;
}

.skills__card-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: flex-start;
  -moz-box-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  flex: 50%;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: 9.375rem;
}

.skills__card-ctr img {
  width: 10.9375rem;
  height: 10.9375rem;
  margin: 2.8125rem;
}

@media only screen and (max-width: 1024px) {
  .skills__title-ctr {
    padding-right: 6.25rem;
  }
  .skills__card-ctr {
    padding-top: 0.625rem;
    margin: 1.25rem 3.75rem;
    justify-content: center;
  }
  .skills__card-ctr img {
    width: 6.25rem;
    height: 6.25rem;
    margin: 1.25rem;
  }
}

.contact {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  color: #f3f3f0;
}

.contact__text-ctr {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: flex-end;
  flex: 50%;
}

.contact__text-wrapper {
  padding-left: 12.5rem;
}

.contact__title {
  color: #944dff;
  font-weight: 900;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.1875rem;
}

.contact .form {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  flex: 50%;
  height: 31.25rem;
  margin-top: 12.5rem;
}

.contact .form__text {
  font-size: 1.5625rem;
  padding: 1.25rem;
}

.contact .form__text a {
  color: #f3f3f0;
}

.contact .form__text a:hover {
  color: #944dff;
}

.contact .form__label {
  margin: 1.25rem;
  font-size: 1.25rem;
}

.contact .form__name {
  width: 31.25rem;
  height: 3.125rem;
}

.contact .form__body {
  width: 31.25rem;
  height: 12.5rem;
}

.contact .form__submit {
  width: 9.375rem;
  height: 3.125rem;
  font-size: 1.25rem;
  margin-top: 1.875rem;
  border: none;
  background-color: #944dff;
  color: #524e4b;
  border-radius: 10px;
}

.contact .form__submit:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .contact {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    flex-direction: column;
    -webkit-box-justify-content: flex-end;
    -moz-box-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }
  .contact__text-wrapper {
    padding-left: 6.25rem;
  }
  .contact .form {
    margin-top: auto;
  }
  .contact .form__submit {
    margin-bottom: 6.25rem;
  }
}

.projects {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  line-height: 1.5;
  color: #f3f3f0;
}

.projects__intro {
  width: 40.625rem;
  align-self: center;
  padding-left: 2rem;
}

.projects__title {
  color: #944dff;
  font-weight: 900;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.1875rem;
}

.projects__subtitle {
  font-weight: 900;
  font-size: 3.125rem;
  margin-bottom: 1.5625rem;
  margin-left: 1.25rem;
}

.projects__info {
  margin-left: 1.25rem;
}

.projects .left {
  justify-self: end;
  margin-left: 9.6875rem;
  margin-top: -25rem;
}

.projects .right {
  justify-self: start;
  margin-right: 9.6875rem;
  margin-top: 4.6875rem;
}

@media only screen and (max-width: 1024px) {
  .projects {
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    flex-direction: column;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .projects .left {
    margin: auto;
  }
  .projects .right {
    margin: auto;
  }
}

.project {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 40.625rem;
  padding: 2.5rem;
  align-items: center;
  margin: 0.625rem;
}

.project__overlay {
  position: relative;
  height: 26.25rem;
  width: 37.5rem;
}

.project__overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(148, 77, 255, 0.4);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.project__overlay:hover:after {
  opacity: 1;
}

.project img {
  height: 26.25rem;
  width: 37.5rem;
  z-index: 1;
}

.project__tech {
  color: #944dff;
  margin: 1.25rem 0;
  font-weight: 900;
}

.project__name {
  color: #f3f3f0;
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}

.project__desc {
  color: #f3f3f0;
  font-size: 1.5625rem;
  margin-bottom: 1.25rem;
}

.project__link {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  color: #524e4b;
  font-size: 1.25rem;
  font-weight: 900;
  background-color: #944dff;
  width: 6.25rem;
  height: 1.875rem;
  border-radius: 1.25rem;
}
/*# sourceMappingURL=main.css.map */