$browser-context:16px;

@function em($pixels, $context:$browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin flexbox ($direction:row, $spacing:space-between) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex-direction: $direction;
  -moz-box-flex-direction: $direction;
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
  -webkit-box-justify-content: $spacing;
  -moz-box-justify-content: $spacing;
  -ms-justify-content: $spacing;
  -webkit-justify-content: $spacing;
  justify-content: $spacing;
}


.slideInFromRight {
  animation: slideInFromRight 1s ease-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(50)
  }

  100% {
    transform: translateX(0);
  }
}


.slideInFromLeft {
  animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-50)
  }

  100% {
    transform: translateX(0);
  }
}


.slideInFromBottom {
  animation: slideInFromBottom 1s ease-out;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(300%);
  }

  50% {
    transform: translate5(150)
  }

  100% {
    transform: translateY(0);
  }
}