.hero {
  @include flexbox(row, center);
  height: em(600);
  margin: em(20) 0;

  &__image-ctr {
    @include flexbox(row, center);
    align-items: center;
    width: 50%;

    img {
      margin-left: em(100);
      height: em(550);
    }
  }

  &__text-ctr {
    width: 50%;
    @include flexbox(column, space-between);
  }

  &__bullet-ctr {
    @include flexbox(column, space-between);
    height: em(300);
  }

  &__bullets {
    font-size: em(60);
    font-family: $hero-bullet-font;
  }

  .info-text {
    padding-bottom: em(50);
    padding-right: em(100);
    font-family: $hero-text-font;
        font-size: em(25);


  }
}