.hero {
  @include flexbox(row, center);
  margin: em(20) 0;
  color: $primary-text-color;
  height: em(800);

  &__image-ctr {
    @include flexbox(row, center);
    // @include slideInFromLeft;
    align-items: center;
    flex: 50%;

    img {
      margin-left: em(100);
      height: em(600)
    }
  }

  &__text-ctr {
    @include flexbox(column, space-evenly);
    flex: 50%;
  }

  &__bullet-ctr {
    @include flexbox(column, space-between);
    // @include slideInFromRight;
    margin-top: em(-40);

  }

  &__bullets {
    font-size: em(70);
    font-family: $hero-bullet-font;
    margin: em(20) 0;
  }

  &__text {
    // @include slideInFromBottom;
    font-family: $hero-text-font;
    font-size: em(40);
    margin-top: em(-100);

  }
}