.hero {
  @include flexbox(row, center);
  margin: em(20) 0;
  color: $primary-text-color;
  margin-bottom: em(125) ;

  &__wrapper {
    @include flexbox(row, center);
    align-items: center;
    flex: 50%;
  }

  &__image-ctr {
    @include flexbox(row, center);
    position: relative;

    img {
      height: em(550);
      width: em(550);
      object-fit: cover;
    }

    &::before,
    &::after {
      background-image: linear-gradient(-180deg, #5F0CDB 0%, #524e4b 97%);
      content: '';
      position: absolute;
      transition: all .2s;
      transition-delay: .2s;
      transform: translateY(0px) translateX(0px);
      width: em(550);
      height: em(550);
      z-index: -1;
    }

    &::after {
      background-image: linear-gradient(0deg, #524e4b 0%, #07CFCF 97%);
    }

    &:hover {
      &::before {
        animation: slick-hover-2 3s .4s linear infinite;
        transform: translateY(em(-20)) translateX(em(-20));
      }

      &::after {
        animation: slick-hover 3s .4s linear infinite reverse;
        transform: translateY(em(20)) translateX(em(20));
      }
    }
  }


  &__text-ctr {
    @include flexbox(column, space-evenly);
    flex: 50%;
    margin-left: em(100);
  }

  &__bullet-ctr {
    @include flexbox(column, space-between);
    margin-top: em(-40);

  }

  &__bullets {
    font-size: em(60);
    font-family: $hero-bullet-font;
    margin: em(20) 0;
  }

  &__text {
    font-family: $hero-text-font;
    font-size: em(40);
    margin-top: em(100);

  }
}
@media only screen and (max-width: 1024px) {
  .hero {
    height: em(500);

    &__image-ctr {
      margin: 0;

      &::before,
      &::after {
        transition: none;
        display: none;
      }

      img {
        height: em(300);
        width: em(300);
      }
    }

    &__text-ctr {
      margin: 0;
    }

    &__bullets {
      font-size: em(50);
    }

    &__text {
      font-size: em(35);
    }
  }
}


@keyframes slick-hover {
  0% {
    transform: translateY(em(20)) translateX(em(20))
  }

  16% {
    transform: translateY(em(13)) translateX(em(-9))
  }

  33% {
    transform: translateY(em(4)) translateX(em(12))
  }

  50% {
    transform: translateY(em(20)) translateX(em(-20))
  }

  66% {
    transform: translateY(em(-3)) translateX(em(8))
  }

  83% {
    transform: translateY(em(-15)) translateX(em(-11))
  }

  100% {
    transform: translateY(em(20)) translateX(em(20))
  }
}

@keyframes slick-hover-2 {
  0% {
    transform: translateY(em(-20)) translateX(em(-20))
  }

  16% {
    transform: translateY(em(3)) translateX(em(-5))
  }

  33% {
    transform: translateY(em(18)) translateX(em(-10))
  }

  50% {
    transform: translateY(em(-20)) translateX(em(20))
  }

  66% {
    transform: translateY(em(15)) translateX(em(-4))
  }

  83% {
    transform: translateY(em(-1)) translateX(em(15))
  }

  100% {
    transform: translateY(em(-20)) translateX(em(-20))
  }
}