.info {
  @include flexbox();
  height: em(900);
  align-items: center;
  line-height: 1.5;

  img {
    // @include slideInFromLeft;
    height: em(600);
  }

  &__text-ctr {
    @include flexbox(column, center);
    flex: 50%;
    height: 100%;
    margin-left: em(100);
  }

  &__title {
    color: $info-title-text-color;
    font-weight: 900;
    font-size: em(17);
    margin-bottom: 20px;
    letter-spacing: em(3);
  }

  &__heading {
    font-size: em(50);
    font-weight: 900;
    margin-left: 20px;

  }

  &__text {
    font-weight: 700;
    margin-top: em(30);
    margin-left: 20px;
    margin-right: 50px;
  }
}