
.projects {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  line-height: 1.5;
  color: $app-bg;

  &__intro {
    width: em(650);
    align-self: center;
    padding-left:em(32)
  }

  &__title {
      color: $info-title-text-color;
      font-weight: 900;
      font-size: em(20); 
      margin-bottom: em(20);
      letter-spacing: em(3);
  }

  &__subtitle {
    font-weight: 900;
    font-size: em(50);
    margin-bottom:em(25);
    margin-left: em(20);
  }

  &__info {
    margin-left: em(20);
  }

  .left {
    justify-self: end;
    margin-left: em(155);
    margin-top: em(-400);
  }

  .right {
    justify-self: start;
    margin-right: em(155);
    margin-top: em(75);
  }
}
@media only screen and (max-width: 1024px) {
  .projects {
    grid-template-columns: 100%;
    grid-auto-rows: auto;
@include flexbox(column, center);

    .left {
      margin: auto
    }

    .right {
      margin: auto
    }
  }
}

