
.projects {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  line-height: 1.5;
  color: $app-bg;

  &__intro {
    width: em(650);
    align-self: center;
    padding-right:em(32)
  }

  &__title {
    color: $info-title-text-color;
    font-weight: 900;
    font-size: em(17);
    margin-bottom: em(20);
    letter-spacing: em(3);
  }

  &__subtitle {
    font-weight: 900;
    font-size: em(50);
    margin-bottom: 25px;
    margin-left: 20px;
  }

  &__info {
    margin-left: 20px;
  }

  .left {
    justify-self: end;
    margin-right: 25px;
    margin-top: -400px;
  }

  .right {
    justify-self: start;
    margin-left: 25px;
    margin-top: 75px;
  }
}