.skills {
  @include flexbox(row, center);
  height:em(900);

  img {
    height: em(200);
  }

  &__title-ctr {
    flex: 50%;
    margin-left: em(200);
    align-self: center;

    li {
      font-size: em(40);
      font-weight: 700;
      color: $info-title-text-color;
      padding: 20px;
    }
  }

  &__title {
    color: $info-title-text-color;
    font-weight: 900;
    font-size: em(17);
    margin-bottom: em(40);
    letter-spacing: em(3);
  }

  &__subtitle {
    font-weight: 900;
    font-size: em(50);
    margin-bottom: 25px;
    margin-left: 20px;
  }

  &__card-ctr {
    @include flexbox(row, flex-start);
    flex: 50%;
    flex-wrap: wrap;
    align-items: baseline;
    // padding: em(-40)
img{
  width: em(200);
  height:em(200);
  margin: em(50)
}
  }
}