.skills {
  @include flexbox(row, center);
  margin-bottom: em(200);

  img {
    height: em(200);
  }

  &__title-ctr {
    flex: 50%;
    padding-right: em(200);
    align-self: center;

    li {
      font-size: em(40);
      font-weight: 700;
      color: $info-title-text-color;
      padding: em(20);
    }
  }

  &__title {
    color: $info-title-text-color;
    font-weight: 900;
    font-size: em(20);
    margin-bottom: em(20);
    letter-spacing: em(3);
  }

  &__subtitle {
    font-weight: 900;
    font-size: em(50);
    margin-bottom: em(25);
    margin-left: em(20);
  }

  &__card-ctr {
    @include flexbox(row, flex-start);
    flex: 50%;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: em(150);

    img {
      width: em(175);
      height: em(175);
      margin: em(45);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .skills {
    &__title-ctr {
      padding-right: em(100);
    }

    &__card-ctr {
      padding-top: em(10);
      margin: em(20) em(60);
      justify-content: center;

      img {
        width: em(100);
        height: em(100);
        margin: em(20);
      }
    }
  }
}