.skills {
  @include flexbox(row, center);
  margin-bottom: em(200);

  img {
    height: em(200);
  }

  &__title-ctr {
    flex: 50%;
    padding-left: em(200);
    align-self: center;

    li {
      font-size: em(40);
      font-weight: 700;
      color: $info-title-text-color;
      padding: 20px;
    }
  }

  &__title {
    color: $info-title-text-color;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: em(20);
    letter-spacing: em(3);
  }

  &__subtitle {
    font-weight: 900;
    font-size: em(50);
    margin-bottom: 25px;
    margin-left: 20px;
  }

  &__card-ctr {
    @include flexbox(row, flex-start);
    flex: 50%;
    flex-wrap: wrap;
    align-items: baseline;
    margin-right:em(200);
img{
  width: em(200);
  height:em(200);
  margin: em(50) em(70);
}
  }
}
@media only screen and (max-width: 1024px) {
  .skills {
    &__title-ctr {
      padding-left: em(100);
    }

    &__card-ctr {
      padding-top: em(10);
      margin: em(20) em(60);
      justify-content: center;

      img {
        width: em(100);
        height: em(100);
        margin: em(20);
      }
    }
  }
}

